.product-card {

    .product-card-image {
        text-align: center;

        img {
            margin: 1rem auto;
            border-radius: 0.5rem;
            height: 300px;
            width: 200px;
            object-fit: cover;
            object-position: center;

        }
    }
    :hover {
        cursor: pointer;
        .product-card-image {
            img {
                transform: scale(1.1);
                transition: all 0.5s ease-in-out;
            }
        }
      }
}